/* reset*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 1em 10vw 0 10vw;
}
#content #pic {
  width: 80vw;
}
#content #pic h1 {
  margin: 0 0 0.5em 0;
  font-size: 7vw;
}
#content #pic img {
  width: 100%;
}
#content #info {
  width: 80vw;
}
#content #info h1 {
  margin: 0 0 1em 0;
  font-size: 7vw;
  width: 100%;
}

nav {
  display: none;
}

@media screen and (min-width: 768px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 25vw 0 25vw;
  }
  #content #pic h1 {
    margin: 0 0 1em 0;
    font-size: 2vw;
  }
  #content #pic img {
    width: 25vw;
  }
  #content #info {
    width: 25vw;
  }
  #content #info h1 {
    margin: 0 0 1em 0;
    font-size: 2vw;
  }
  nav {
    display: none;
  }
}